@import "../global.scss";

.apresentationSection {
  max-width: 1920px;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/bg/bgApresentationSection.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: start;
  align-items: center;

  .content {
    width: 560px;

    img {
      width: 346px;
      margin-bottom: 50px;
    }
    h1 {
      font-size: 64px;
      line-height: 64px;
      font-weight: 400;
      margin-bottom: 24px;
    }
    p {
      width: 427px;
      font-size: 18px;
      line-height: 32px;
      color: $light-gray;
      margin-bottom: 56px;
    }
  }
}


