
.macbookSection{
  max-width: 1140px;
  margin: 0 70px 100px 70px;

  h2{
    margin: 0 auto;
    width: 923px;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 75px;
  }
  img{
    width: 100%;
  }
}
